---
layout: default
---

<h1 class="h1">Alex Bennett – Content Writer</h1>

<h2 class="h2">Insightful content to reflect you and your business</h2>

<p class="p">Does your website copy need to be more engaging to capture people from the outset and encourage them to proceed without coming across as forced or overbearing?</p>

<p class="p">Customers should feel organically inspired to want to proceed further on a website, whether that is a sale, interaction or contact with your company.</p>

<p class="p">This is why as a content writer <em class="em">my aim is to create natural, concise and easy to follow content</em> that appropriately understands the business it is developed around.</p>

<p class="p">As a BA Hons graduate of Creative Writing at Liverpool John Moores University and full-time content writer, I have written for a wide variety of websites over the years, for clients based in the UK with international networks.</p>

<p class="p">Combined with a good design and SEO optimised keyword phrasing, my website content can help your business to climb Google’s search rankings, helping your website achieve your goals and to establish greater customer relationships.</p>

{% include divider.html %}

<h2 class="h2">Writing for websites</h2>

<p class="p">Working closely with a development and SEO team I have created an entire catalogue of content for a number of sites, researching the fundamental aims and functions of the business to write relevant and appealing content.</p>

<ul class="ul">
	<li class="li"><a class="a" href="www.specterpartnership.co.uk">www.specterpartnership.co.uk</a></li>
	<li class="li"><a class="a" href="www.velosure.co.uk">www.velosure.co.uk</a></li>
	<li class="li"><a class="a" href="www.lawshield.co.uk">www.lawshield.co.uk</a></li>
</ul>

{% include divider.html %}

<h2 class="h2">Writing for social media</h2>

<p class="p">I have managed several social media accounts for various businesses from cycle insurance providers to medical negligence solicitors, as well as created SEO optimised blog posts and news articles. Below are some examples of specific content and infographics created for social media marketing.</p>

<ul class="ul">
	<li class="li"><a class="a" href="https://www.velosure.co.uk/news/Information-advice/Can-you-cycle-as-a-lean-green-veggie-machine">Example blog post</a></li>
	<li class="li"><a class="a" href="https://drive.google.com/file/d/0ByJcA-VmMKlTQ0doWDRDT09ocGs/view?usp=sharing">Example Infographic</a></li>
</ul>

{% include divider.html %}

<h2 class="h2">Copywriting</h2>

<p class="p">As well as writing content for websites I am proficient in the use of Photoshop and InDesign, creating a number of print and digital ad campaigns, billboards and newsletters. Below are a few selected examples of my work.</p>

<ul class="ul">
	<li class="li"><a class="a" href="https://drive.google.com/file/d/0ByJcA-VmMKlTc3Etd1NLYXhWTUk/view?usp=sharing">Bus shelter campaign</a></li>
	<li class="li"><a class="a" href="https://drive.google.com/file/d/0ByJcA-VmMKlTbkhUbXlZVUhnYUE/view?usp=sharing">Print campaign for The Independent newspaper</a></li>
	<li class="li"><a class="a" href="https://drive.google.com/file/d/0ByJcA-VmMKlTYW1QSGNjVTM3Ulk/view?usp=sharing">Print campaign for Cycling Weekly magazine</a></li>
	<li class="li"><a class="a" href="https://drive.google.com/file/d/0ByJcA-VmMKlTM1BZeG5KS1lHRGM/view?usp=sharing">Advertorial content &amp; design</a></li>
	<li class="li"><a class="a" href="https://drive.google.com/file/d/0ByJcA-VmMKlTYW1QSGNjVTM3Ulk/view?usp=sharing">Print campaign for Cycle Trade magazine</a></li>
	<li class="li"><a class="a" href="https://drive.google.com/file/d/0ByJcA-VmMKlTcGtVV1cyTTlxWFU/view?usp=sharing">Travel Insurance business cards</a></li>
</ul>

{% include divider.html %}

<h2 class="h2">Get in touch!</h2>

<p class="p">Want help making your site more creative?</p>

<ul class="ul">
	<li class="li">Call <a href="tel:+447453303893">+44 745 330 3893</a></li>
	<li class="li">Email <a href="mailto:bennett91@zoho.com">bennett91@zoho.com</a></li>
</ul>